@*@using Microsoft.AspNet.Identity*@
@using EM.IServicio.Helpers.Usuario

@{

    string ApyNom = $"User {SessionActiva.ApyNom} ";

}

<!DOCTYPE html>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title Event Manager</title>
<link rel="icon" href="~/img/event.ico" type="image/x-icon" />
<!-- Bootstrap -->
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- Modal -->
<link src="~/Content/Libreria/js/main.js"/>
<link src="~/Content/Libreria/js/site.js"/>
<link src="~/Content/Libreria/js/Usuario.js"/>
<!-- FontAwesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<!-- Site -->
<link rel="stylesheet" href="~/Content/Site.css">
<script src="~/Scripts/Site.js"></script>

<html>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Event Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!--///////////////////////////////////////////////////////////////////////////////
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nuevo Evento</a>
                    </li>-->

                    <div class="modal fade" id="add-session" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addContactLabel">Cerrar Session</h5>
                                    <button type="button" class="close" data-dismiss="modal01" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form asp-action="Login" asp-controller="Usuario" method="get" enctype="multipart/form-data">

                                    <div class="modal-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <h2>Desea cerrar Session?</h2>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" style='width: 500px; height: 50px'>Cancelar</button>
                                                    <button type="submit" value="Guardar Datos" class="btn btn-primary" onclick="cerrarSession.CerrarSession" style='width: 500px; height: 50px' data-save="modal">Aceptar</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>




                    @* ///////////////////////////////////////////////////////////////////////////////////////// *@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Perfil
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            @if (SessionActiva.UsuarioId == 0)
                            {

                                <a class="dropdown-item" href="~/Usuario/Login">Iniciar Sesion</a>
                                <a class="dropdown-item" href="~/Usuario/Create">Crear Cuenta</a>

                            }
                            else
                            {

                                <a class="dropdown-item" href="~/Persona/Perfil/@SessionActiva.UsuarioId">Mi Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Home/index">Eventos</a>
                                <a class="dropdown-item" href="~/Usuario/Login">Cerrar Sesion</a>
                                @*<button type="button" class="dropdown-item" data-toggle="modal" data-target="#add-session" style='width:200px; height:50px'>
                                    Cerrar Session
                                </button>*@
                            }

                        </div>
                    </li>

                    @if (SessionActiva.UsuarioId != 0)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="~/TipoEvento/NuevoEvento">Nuevo Tipo Evento</a>
                                <a class="dropdown-item" href="~/TipoEvento/Index">Tipos Eventos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Evento/Crear">Nuevo Evento</a>

                            </div>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                            Bienvenido @if (SessionActiva.ApyNom != null)
                            {@ApyNom}
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="BuscarEvento" controller="Evento">
                    <input class="form-control mr-sm-2" type="search" value="@ViewData["search"]" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </header>

    <br />

    <div class="container-fluid">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)







    <!-- FOOTER -->
    <footer class="container">
        <p>&copy; 2020-2020 Company, Inc. Event Manager &middot; Privacy - Terminos y Condiciones</p>
    </footer>

</body>

</html>

