
@{
    ViewBag.Title = "Perfil";
}

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">

<link href="~/Content/Perfil/perfil.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<body>



    <section style="background-color:wheat; padding-top:2px;">

        <div class="containerPerfil">
            <div class="row">
                <div class="col-md-6 img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q" alt="" class="rounded-circle" style="margin-right:2px">
                </div>
                <div class="col-md-6 details">
                    <blockquote>
                        <h5>Fiona Gallagher</h5>
                        <small><cite title="Source Title">Chicago, United States of America  <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        fionagallager@shameless.com <br>
                        www.bootsnipp.com <br>
                        June 18, 1990
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="text-align:right">
            <button type="button" class="btn btn-success">Modificar Datos</button>  <button type="button" class="btn btn-info">Crear Evento</button>
        </div>
        <br />
    </section>




    <br /><br /><br /><br /><br /><br /><br /><br />
</body>
