@model EM.IServicio.Evento.DTOs.EventoDto
@{
    ViewBag.Title = "CrearEvento";
}

<link href="~/Content/CrearEvento/css/style.css" rel="stylesheet" />
<link href="~/Content/CrearEvento/fonts/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" />

<body>

    <div class="wrapper">
        <div class="image-holder">
            <img src="~/Content/CrearEvento/images/form-wizard.png" alt="">
        </div>
        <form action="">
            <div id="wizard">
                <!-- SECTION 1 -->
                <h4></h4>
                <section>
                    <div class="form-row form-group">
                        <div class="form-holder">
                            <label for="">
                                Nombre del Evento *
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-holder">
                            <label for="">
                                Quien dara la Charla? *
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Organizacion
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-row">
                        <label for="">
                            Tipo Evento *
                        </label>
                        <div class="form-holder">
                            <select name="" id="" class="form-control">
                                <option value="Economiam" class="option">Economia</option>
                                <option value="Comercio" class="option">Comercio</option>
                                <option value="Ciencia" class="option">Ciencia</option>
                            </select>
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom: 18px">
                        <label for="">
                            Descripcion del Evento
                        </label>
                        <textarea name="" id="" class="form-control" placeholder="Note about your order, eg. special notes fordelivery." style="height: 149px"></textarea>
                    </div>

                </section>

                <!-- SECTION 2 -->
                <h4></h4>
                <section>
                    <div class="form-row">
                        <label for="">
                            Pais *
                        </label>
                        <div class="form-holder">
                            <select name="" id="" class="form-control">
                                <option value="viet nam" class="option">Argentina</option>
                                <option value="united states" class="option">United States</option>
                                <option value="united kingdom" class="option">United Kingdom</option>
                            </select>
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Provincia *
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-row">
                        <label for="">
                            Direccion *
                        </label>
                        <input type="text" class="form-control" placeholder="Calle" style="margin-bottom: 20px">
                        <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                    </div>
                    <div class="form-row">
                        <label for="">
                            Localidad / Ciudad *
                        </label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-row">
                        <label for="">
                            Codigo Postal / Zip *
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-row form-group">
                        <div class="form-holder">
                            <label for="">
                                Telefono *
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-holder">
                            <label for="">
                                Email *
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <br />
                </section>

                <!-- SECTION 3 -->
                <h4></h4>
                <section>
                    <div class="product">

                        <div class="item">
                            <div class="left">
                                <a href="#" class="thumb">
                                    <img src="~/Content/CrearEvento/images/ticket.png" alt="">
                                </a>
                                <div class="purchase">
                                    <h6>
                                        <a href="#">Valor de la Entrada</a>
                                    </h6>
                                    <span>x1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-holder">
                        <label for="">
                            Precio: *
                        </label>
                        <input type="number" class="form-control">
                    </div>
                    <br />

                    <div class="checkout">
                        <p class="shipping">
                            <span class="heading">Informacion:</span>
                            Atencion si el evento es GRATUITO ingrese como valor de la ENTRADA $ 0
                        </p>
                    </div>
                    <br />
                </section>

                <!-- SECTION 4 -->
                <h4></h4>
                <section>
                    <div class="form-holder">

                        <label class="active">
                            Agregue una Imagen para el Evento:
                        </label>
                        <input name="uploadedfile" type="file" />

                    </div>
                    <br />
                    <div class="form-holder">
                        <label>
                            Fecha del Evento:
                        </label>
                        <input type="date" class="form-control">
                    </div>
                    <br />
                    <div class="form-holder">
                        <label>
                            Hora Inicio:
                        </label>
                        <input type="time" class="form-control">
                    </div>
                    <br />
                    <div class="form-holder">
                        <label>
                            Hora Fin del Evento:
                        </label>
                        <input type="time" class="form-control">
                    </div>
                    <br />
                    <br />
                    <div class="checkout">
                        <p class="shipping">
                            <span class="heading">Atencion:</span>
                            Antes De Finalizar Revise SI Todos Los DATOS SON CORRECTOS.
                        </p>
                    </div>

                </section>
            </div>
        </form>

    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
<script src="~/Content/CrearEvento/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/CrearEvento/js/jquery.steps.js"></script>
<script src="~/Content/CrearEvento/js/main.js"></script>
<!-- Template created and distributed by Colorlib -->
