@model EM.IServicio.Evento.DTOs.EventoViewDto
@{
    ViewBag.Title = "CrearEvento";
}

<link href="~/Content/CrearEvento/css/style.css" rel="stylesheet" />
<link href="~/Content/CrearEvento/fonts/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" />

<!--Load the API from the specified URL-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCFA0cdJHdJdccOiUiKNpwQ3wze89fWH38">
</script>

<body>

    <div class="wrapper">
        <div class="image-holder">
            <img src="~/Content/CrearEvento/images/form-wizard.png" alt="">
        </div>
        <form action="Crear" asp-controller="Evento" method="post" enctype="multipart/form-data">
            <div id="wizard">
                <!-- SECTION 1 -->
                <h4></h4>
                <section>
                    <div class="form-row form-group">
                        <div class="form-row">
                            <label for="">
                                Nombre del Evento *
                            </label>
                            <input type="text" class="form-control" name="Titulo">
                        </div>
                        <div class="form-row">
                            <label for="">
                                Quien dara la Charla? *
                            </label>
                            <input name="Orante" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Organizacion
                        </label>
                        <input name="Organizacion" type="text" class="form-control">
                    </div>
                    <div class="form-row">
                        <label for="">
                            Tipo Evento *
                        </label>
                        <div class="form-holder">

                            @Html.DropDownList("TipoEventoId", new SelectList(ViewBag.ListaTipoEvento, "Id", "Descripcion"), "Seleccionar Campo", new { @class = "form-control" })
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom: 18px">
                        <label for="">
                            Descripcion del Evento
                        </label>
                        <textarea name="Descripcion" id="" class="form-control" placeholder="Note about your order, eg. special notes fordelivery." style="height: 149px"></textarea>
                    </div>

                </section>

                <!-- SECTION 2 -->
                <h4></h4>
                <section>

                    <script>

                        var searchInput = 'search_input';

                        $(document).ready(function () {
                            var autocomplete;

                            autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
                                types: ['geocode']
                            });

                            google.maps.event.addListener(autocomplete, 'place_changed', function () {

                                var near_place = autocomplete.getPlace();
                                document.getElementById('latidude_input').value = near_place.geometry.location.lat();
                                document.getElementById('longitude_input').value = near_place.geometry.location.lng();

                                document.getElementById('latidude_view').innerHTML = near_place.geometry.location.lat();
                                document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();

                            });

                        });

                        $(document).on('change', '#' + searchInput, function () {

                            document.getElementById('latidude_input').value = '';
                            document.getElementById('longitude_input').value = '';
                            document.getElementById('latidude_view').innerHTML = '';
                            document.getElementById('longitude_input').innerHTML = '';

                        });

                    </script>

                    <div class="form-row">

                        <label>Localizacion:</label>

                        <input type="text" class="form-control" id="search_input" placeholder="Escriba aqui el lugar del Evento" />
                        <input type="hidden" id="latidude_input" name="Latitud" />
                        <input type="hidden" id="longitude_input" name="Longitud" />

                    </div>

                    <div class="form-row">

                        <p style="visibility:hidden"><b>Latitude:<span id="latidude_view"></span></b></p>
                        <p style="visibility:hidden"><b>Longitude:<span id="longitude_view"></span></b></p>

                    </div>

                    <div class="form-row">
                        <label for="">
                            Direccion *
                        </label>
                        <input name="Calle" type="text" class="form-control" placeholder="Calle" style="margin-bottom: 20px">
                        <input name="CalleNumero" type="text" class="form-control" placeholder="Numero">
                    </div>

                        <div class="form-row">
                            <label for="">
                                Telefono *
                            </label>
                            <input name="Telefono" type="text" class="form-control">
                        </div>
                        <div class="form-row">
                            <label for="">
                                Email *
                            </label>
                            <input type="text" class="form-control" name="Mail">
                        </div>
                    
                    <br />
                </section>

                <!-- SECTION 3 -->
                <h4></h4>
                <section>
                    <div class="product">

                        <div class="item">
                            <div class="left">
                                <a href="#" class="thumb">
                                    <img src="~/Content/CrearEvento/images/ticket.png" alt="">
                                </a>
                                <div class="purchase">
                                    <h6>
                                        <a href="#">Valor de la Entrada</a>
                                    </h6>
                                    <span>x1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-holder">
                        <label for="">
                            Precio: *
                        </label>
                        <input name="Precio" type="number" class="form-control">
                    </div>
                    <br />

                    <div class="checkout">
                        <p class="shipping">
                            <span class="heading">Informacion:</span>
                            Atencion si el evento es GRATUITO ingrese como valor de la ENTRADA $ 0
                        </p>
                    </div>

                    <br />
                </section>

                <!-- SECTION 4 -->
                <h4></h4>
                <section>
                    <div class="form-holder">

                        <label class="active">
                            Agregue una Imagen para el Evento:
                        </label>
                        <input type="file" name="pepe" id="Imagen" accept="image/*" value="" />
                        @Html.TextBox("img", null, new { type = "file" })

                    </div>

                    <br />
                    <div class="form-holder">
                        <label>
                            Fecha del Evento:
                        </label>
                        <input name="FechaEvento" type="date" class="form-control">
                    </div>
                    <br />
                    <div class="form-holder">
                        <label>
                            Hora Inicio:
                        </label>
                        <input name="HoraInicio" type="time" class="form-control">
                    </div>
                    <br />
                    <div class="form-holder">
                        <label>
                            Hora Fin del Evento:
                        </label>
                        <input name="HoraFin" type="time" class="form-control">
                    </div>
                    <br />
                    <br />
                    <div class="checkout">
                        <p class="shipping">
                            <span class="heading">Atencion:</span>
                            Antes De Finalizar Revise SI Todos Los DATOS SON CORRECTOS.
                        </p>
                    </div>
                    
                    <div class="form-holder">
                        <button class="btn btn-outline-success" style="width:150px;height:50px;">
                            Finalizar
                        </button>
                    </div>

                </section>
            </div>
        </form>

    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
<script src="~/Content/CrearEvento/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/CrearEvento/js/jquery.steps.js"></script>
<script src="~/Content/CrearEvento/js/main.js"></script>
<!-- Template created and distributed by Colorlib -->
