@model EM.IServicio.Evento.DTOs.EventoViewDto
@{
    ViewBag.Title = "CreateEntrada";
}

<link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">

<div class="container">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <h1 style="color:limegreen">Pago Realizado Exitosamente !</h1>
            <br />
            <label class="form-control" style="background-color:cornflowerblue;color:black;">Puede Ver Su Entrada En Su Perfil</label>
            <br />
            <label class="form-control">Evento: @Model.Titulo </label>
            <label class="form-control">Detalle: @Model.Descripcion </label>
            <label class="form-control">Pago por: @Model.Precio</label>
            <br />
            <a class="btn btn-outline-primary" style="margin-left:115px;">Ver Entrada</a>



        </div>
    </div>
</div>