@model EM.IServicio.Evento.DTOs.EventoViewDto
@{
    ViewBag.Title = "PagarEntrada";
}

<link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">


<div class="container">
    
    <form action="CreateEntrada.cshtml" method="get">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                <h2>|--- Pagar Entrada ---|</h2>
                <br />
                <h4><u>@Model.Titulo</u></h4>
                <br />
                <img src="~/Content/CrearEvento/images/ticket.png" width="350" height="200" />
                <br /><br />
                <h6>Se Utiza Mercado Pago, Para El Cobro De La Entrada</h6>
                <br />
                <br />
                <h4 style="text-align:center">Costo de Entrada $@Model.Precio</h4>
                <br />
                <a mp-mode="dftl" style="width:150px;text-align:center;margin-left:110px" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=122557779-786b1d5e-4378-489e-b5d8-1d6e1b1924cc" name="MP-payButton" class='green-ar-l-sq-none'>Pagar</a>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Crear
                    </button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
        </script>
    </form>

    <br /><br />
</div>
