
@{
    ViewBag.Title = "ViewEvento";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ImgEvento/ImagenPortada.css" rel="stylesheet" />

<!--Load the API from the specified URL-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFA0cdJHdJdccOiUiKNpwQ3wze89fWH38&callback=initMap">
</script>

<div class="container">

    <div class="polaroid">
        <img src="https://www.hotelsansebastian.com.mx/img/slide-eventos-3b.jpg" alt="5 Terre" style="width:70%" class="imgPortada">
        <div class="container">
            <h3>Cinque Terre</h3>

            <div class="col-lg-12">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

                <br />

                <p><a class="btn btn-outline-primary" href="#" role="button">Conseguir Entrada &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <br />

            <section class="container">

                <div class="col-lg-4" style="background-color:antiquewhite; float:left;padding-top:4px;padding-bottom:2px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);">

                    <h5>Horario del Evento:</h5>

                    <p align="center">Desde: 10:30 am | Hasta: 12:00 pm</p>

                </div>


                <div class="col-lg-4" style="background-color:antiquewhite; float:right;padding-top:4px;padding-bottom:2px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);">

                    <h5>Quien Dara La Charla:</h5>

                    <p align="center">Flores Jose Andres</p>

                </div>

            </section>

            <br />
            <br />
            <br />
            <br />


            <section class="container">

                <h5>Lugar del Evento:</h5>

                <div id="map">
                </div>

                <style>
                    #map{
                        height:400px;
                        width:100%;
                    }
                </style>

                <script>

                    function initMap()
                    {

                        var options =
                        {
                            zoom: 18,
                            center: { lat: 42.3601, lng: -71.0589 }
                        }


                        var map = new google.maps.Map(document.getElementById('map'), options);

                        var marker = new google.maps.Marker({
                            position: { lat: 42.3601, lng: -71.0589 },
                            map: map,
                            icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
                        })

                    }
                </script>

            </section>

            <br />

        </div>
    </div>

</div>

<br /><br />
