
@{
    ViewBag.Title = "ViewEvento";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ImgEvento/ImagenPortada.css" rel="stylesheet" />

<div class="container">

    <div class="polaroid">
        <img src="https://www.hotelsansebastian.com.mx/img/slide-eventos-3b.jpg" alt="5 Terre" style="width:70%" class="imgPortada">
        <div class="container">
            <h3>Cinque Terre</h3>

            <div class="col-lg-12">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

                <br />

                <p><a class="btn btn-outline-primary" href="#" role="button">Conseguir Entrada &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <br />

            <section class="container">

                <div class="col-lg-4" style="background-color:antiquewhite; float:left;margin-left:15px;padding-top:4px;padding-bottom:2px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);">

                    <h5>Horario del Evento:</h5>

                    <p align="center">Desde: 10:30 am | Hasta: 12:00 pm</p>

                </div>


                <div class="col-lg-4" style="background-color:antiquewhite; float:right;margin-left:15px;padding-top:4px;padding-bottom:2px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);">

                    <h5>Quien Dara La Charla:</h5>

                    <p align="center">Flores Jose Andres</p>

                </div>

            </section>

            <br />
            <br />
            <br />
            <br />


            <section class="container">

                <h5>Lugar:</h5>

                <img width="600" src="https://api.mapbox.com/v4/mapbox.emerald/-73.7638,42.6564,13/600x300@2x.png?access_token=YOUR-API-KEY-HERE" alt="Mapbox Map of -73.7638,42.6564">
                © <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> © <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a>

            </section>



        </div>
    </div>

</div>

<br /><br />
