div.polaroid {
    width: 95%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.imgPortada {
    width: 100%;
    padding-top: 8px;
}

div.container {
    text-align: center;
    padding: 10px 10px;
}
