@using EM.IServicio.Usuario.DTOs
@model EM.IServicio.Persona.DTOs.PersonaDto
@{
    ViewBag.Title = "Create";

    var Usuario = new UsuarioDto();
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w" asp-action="Create" asp-controller="Usuario" method="post">
                    <span class="login100-form-title p-b-32">
                        Datos Personales
                    </span>

                    @* Codigo para mostrar los errores  *@

                    <span class="txt1 p-b-11">
                        Apellido
                    </span>
                    <span class="txt1 p-b-11" style="color:red">
                        @Html.ValidationMessageFor(x => x.Apellido)
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Apellido Requerido">
                        <input asp-for="Apellido" class="input100" type="text" name="Apellido">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Nombre
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Nombre Requerido">
                        <input asp-for="Nombre" class="input100" type="text" name="Nombre">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Cuil
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Cuil Requerido">
                        <input asp-for="Cuil" class="input100" type="text" name="Cuil">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Telefono
                    </span>
                    <div class="wrap-input100 validate-input m-b-12">
                        <input asp-for="Telefono" class="input100" type="text" name="Telefono">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Domicilio
                    </span>
                    <div class="wrap-input100 validate-input m-b-12">
                        <input asp-for="Domicilio" class="input100" type="text" name="Domicilio">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Fecha De Nacimiento
                    </span>
                    <div class="wrap-input100 validate-input m-b-12">
                        <input asp-for="FechaNacimiento" class="input100" type="date" name="FechaNacimiento">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="alert alert-info">(falta poco para terminar, ahora completa los datos de tu usuario)</div>


                    <span class="login100-form-title p-b-32">
                        Datos de Usuario
                    </span>

                    <span class="txt1 p-b-11">
                        Usuario
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Usuario Requerido">
                        <input asp-for="Usuario.User" class="input100" type="text" name="User">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Correo Electronico
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Correo Electronico Requerido">
                        <input asp-for="Usuario.Mail" class="input100" type="text" name="Mail">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Contraseña
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Contraseña Requerida">
                        <input asp-for="Usuario.Password" class="input100" type="password" name="Password">
                        <span class="focus-input100"></span>
                    </div>


                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.ErrorUser</div>
                    }


                    <span class="txt1 p-b-11">
                        Repetir Contraseña
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Repetir Contraseña">
                        <input asp-for="Usuario.PasswordRep" class="input100" type="password" name="PasswordRep">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-48"></div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="width:500px;height:80px;">
                            Crear
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/js/main.js"></script>

</body>
